@using CatalogosMVC.Business.Models
@model List<BookModel>
    
    @if (Model == null || !Model.Any())
    {
        <h5>Nenhum elemento para exibir, Crie um novo item no catálogo</h5>
        
        <input type="hidden" name="UserId" value="userId" />

    <a class="btn btn-success btn-lg mt-1 mb-3" asp-controller="Books" asp-action="Create" asp-route-userId="@ViewBag.UserId">Novo Registro</a>

    <a class="btn btn-primary btn-lg mt-1 mb-3" asp-controller="Users" asp-action="Index">Voltar</a>
    }


    else
    {
        <div class="row">

        <div>
             <a class="btn btn-success btn-lg mt-1 mb-3" asp-controller="Books" asp-action="Create" asp-route-userId="@Model.First().UserId">Novo Registro</a> 
        </div>
                @foreach (var bookModel in Model)
                {
        
                    <div class="col-md-4 mb-4">

                        <div class="card bg-dark text-white">

                            <div row class="card-body">
                                
                                <h5 class="card-title">@bookModel.Name</h5>

                                <p class="card-text">Opções do catálogo:</p>

                                <img src="/images/@bookModel.Image" style="width: 20%;"/>

                                <p>@bookModel.CreationTime.ToString("dd/MM/yyyy")</p>

                                 <a asp-controller="Books" asp-action="Update" asp-route-id="@bookModel.Id" class="btn btn-warning">Editar</a>

                                 <a asp-controller="Books" asp-action="Delete" asp-route-id="@bookModel.Id" class="btn btn-danger">Excluir</a>
                            </div>

                        </div>

                    </div>            
                 }        
    
            <div>

            <a class="btn btn-primary btn-lg mt-1 mb-3" asp-controller="Users" asp-action="Index">Voltar</a>

        </div>

        </div>
    }
